.newcenter_main{
    background-color: #e4eced;
    width: 1200px;
    height: 1000px;
    margin-top: 12px;
    margin-left: 5.5%;
}
.new_left{
    width: 80%;
    height: 100%;
    float: left;
}
.new_right{
    background-color: #DBDDD3;
    width: 18%;
    height: 100%;
    float: right;
}
.new_div{
    width: 100%;
    height: 90%;
}
.new_btns{
    width: 100%;
    height: 10%;
}
.new_art{
	background-color: white;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}
.new_btn{
    width: 15%;
    height: 50%;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: #5faef2;
    color: aliceblue;
    float: left;
    margin-left: 8%;
    margin-top:2%;
    font-size: 18px;
    text-align: center;
}
.new_btn:hover{background-color: #5399d5;}

.pageView{
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 20px auto;
    margin-top: 15px;
}
.pageTotal{
    width: 30%;
    height: 30px;
    float: left;
}
.pagediv{
    float: left;
    width: 70%;
    height: 30px;
    text-align: left;
}

.article_info{
    height: 120px;
    margin: 20px auto;
    border:1px solid #d2cbed;
    padding: 15px;
}
.article_info:first-child{margin: 0 auto;}

.disabled{
	display:none;
}

.article_img{
	float:left;
	width:170px;
	height: 120px;
}


