.oralmain{
	width:1200px;
	margin: 0 auto;
}

.oral_what{
    height: 300px;
    background-color: red;
}

.what_image{
    width: 35%;
    background-color: blue;
    position: relative;
    float: left;
    height: 100%;
}
.what_text{
    width: 57%;
    float: right;
    background: #eded21;
    margin-left: 3%;
    position: relative;
    height: 100%;
}
.what_text_text{
    position: relative;
    width: 100%;
    height: 70%;
    background-color: purple;
}
.what_text_button{
    position: relative;
    width: 32%;
    height: 15%;
    background-color: black;
    padding-top: 0px;
    margin-top: 15px;
    margin-left: 35px;
}

.wh{
    width: 100%;
    background-color: black;
    height: 280px;
}

.wh_box_1{
	background-color: red;
    width: 47%;
    height: 118px;
	float:left;
}
.wh_box_2{
	background-color: red;
    width: 47%;
    height: 118px;
    float:right;
}
.wh_box_3{
	background-color: red;
    width: 47%;
    height: 118px;
    float:left;
    margin-top: 4%;
}
.wh_box_4{
	background-color: red;
    width: 47%;
    height: 118px;
    float:right;
    margin-top: 4%;
}
.wh_box_number_1,.wh_box_number_2,.wh_box_number_3,.wh_box_number_4{
    width: 23%;
    height: 100%;
    background-color:#6286C0;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    font-size: 40px;
    font-style: normal;
    color:white;
    text-align:center;
    line-height:118px;
    vertical-align:middle;
}


































