<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>编辑文章</title> <#include "/common/admin_css.html"/>
<style type="text/css">
.jz10 {
	margin-left: 10%;
}
.jz {
	margin-left: 25%;
}
.form-group-myfile{
   position:relative;
   margin-bottom:15px;
   height:120px;
   width:420px;
}

.image-thumb{
  position:absolute;
  top:0;right:0;
  border:solid 2px #CCC;
  width:200px;
  height:120px;
}
</style>
</head>

<body>

	<div id="wrapper">
		<#include "/common/admin_header_left.html"/>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header">编辑文章</h3>
				</div>
			</div>


			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">EDIT_ARTICLE</div>
						<div class="panel-body">
							<div class="row">

									<form role="form" id="subform">
									<div class="col-lg-5 jz10">
										<label>文章标题</label>
										<input class="form-control" name="title" value="${art.title}"
											id="title" placeholder="请输入文章标题" onblur="return checkTitle();" ><br /> 
											
											<label>关键字</label>
										<input class="form-control" name="keywords"  id="keywords" value="${art.keywords}"
											placeholder="请输入文章关键字" ><br />

										<div class="form-group">
											<label for="name">文章类型</label> 
											<select id="articletype" name="articletype" class="form-control" val="${art.articletype}">
												<option>-请选择文章类型-</option>
												<option value="ARTICLE_NEWS" >新闻动态</option>
												<option value="ARTICLE_HEALTH"  >口腔健康</option>
												<option value="ARTICLE_GY_ACTIVITY" >公益活动</option>
												<option value="ARTICLE_YH_ACTIVITY" >优惠活动</option>
											</select>
										</div>
                                        <label for="name">编辑文章</label>
                                       <textarea style="width:650px;height: 400px;" id="content" name="content">${artE.content}</textarea><br/>

										<div class="form-group">
											<label for="name">文章简介</label>
											<textarea class="form-control" id="introduction" name="introduction" rows="3" placeholder="输入简介信息(150字内)">${art.introduction}</textarea>
										</div>

										<div class="form-group-myfile">
											<label for="inputfile">选择缩略图</label> <input type="file" 
												id="thumbnailurl" name="myfile" onchange="uploadImage(event);" accept="image/jpg, image/jpeg, image/gif, image/png">
											<p class="help-block">尺寸要求 200*120。</p>
										<img class="image-thumb" id="thumbnail"   src="/images/admin/thumb_default.jpg">
										</div>
                                        
										<div class="form-group">
											<label class="radio-inline"> <input type="radio"
												name="top" id="optionsRadios1" value="0"
												> 正常排序
											</label> <label class="radio-inline"> <input type="radio"
												name="top" id="optionsRadios2" value="1">
												文章置顶
											</label>
										</div>
										
										<div class="form-group">
											<label class="radio-inline"> <input type="radio"
												name="status" id="optionsRadios3" value="1"
												> 启用文章
											</label> <label class="radio-inline"> <input type="radio"
												name="status" id="optionsRadios4"  value="0">
												禁用文章
											</label>
										</div>

										<div  class="jz">
										<input type="button" value="提交" class="btn btn-default" onclick="add()"  />
										&nbsp;&nbsp;&nbsp;&nbsp;
										<button class="btn btn-default" type="reset">重置</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


    <#include "/common/admin_js.html"/>
    <script charset="utf-8" src="/kindeditor/kindeditor-all-min.js"></script>
    <script charset="utf-8" src="/js/ajaxfileupload.js"></script>
	<!-- 后台公共js -->
	<script type="text/javascript">
	$(function(){
		//editor 回显数据
		//select，radio回显
		alert(${art.top});
		$("select option[value='${art.articletype}']").attr("selected",true); 
		$("input[name='top'][value='${art.top}']").attr("checked","checked");
		$("input[name='status'][value='${art.status}']").attr("checked","checked");
		
	});
	
	
		
	function edit() {
		
		var rolename = $("#rolename").val();
		var description = $("#description").val();
		if(rolename == "" || description == ""){
			layer.alert('表单数据不可以为空！');
			return false;
		}
		
		
        $.ajax({
        //几个参数需要注意一下
            type: "POST",//方法类型
            url: "${request.contextPath}/admin/role/edit" ,//url
            data: $('#subform').serialize(),
            success: function (result) {
            	
            	if(result == "ROLE_EXIST"){
                	layer.alert('该角色名已存在！',function(index){
                	window.location.href='${request.contextPath}/admin/role/toEdit?id='+$("#id").val();;
                	});
                	//跳转到新增
                }
            	
                if(result == "EDIT_SUCCESS"){
                	layer.alert('修改角色成功！',function(index){
                		window.location.href="${request.contextPath}/admin/role/toRoles";
                	});
                	//跳转到列表
                }
                if(result == "EDIT_FAIL"){
                	layer.alert('修改角色失败！',function(index){
                	window.location.href='${request.contextPath}/admin/role/toEdit?id='+$("#id").val();;
                	});
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
            	 alert(XMLHttpRequest.status);
            	 alert(XMLHttpRequest.readyState);
            	 alert(XMLHttpRequest.responseText);
            	 alert(textStatus);
            	   }
        });
    }
	

	</script>
	 <script type="text/javascript">
    //KindEditor脚本
    var editor;
    KindEditor.ready(function(K) {
        
		editor = K.create('#content',{
										uploadJson : '${request.contextPath}/kindeditor/fileUpload',
										allowImageUpload : true,  //开启图片上传
										
										fileManagerJson : '${request.contextPath}/kindeditor/fileManager',
										allowFileManager : false,  //开启图片空间
										autoHeightMode : true,
										afterCreate : function() {
											this.loadPlugin('autoheight');
										},
										afterBlur : function() {
											this.sync();
										} //Kindeditor下获取文本框信息

									});
				});
	</script>

</body>

</html>
