<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>编辑文章</title> <#include "/common/admin_css.html"/>
</head>

<body>

	<div id="wrapper">
		<#include "/common/admin_header_left.html"/>

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header">编辑文章</h3>
				</div>
			</div>


			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading">EDIT_ARTICLE</div>
						<div class="panel-body">
							<div class="row">

									<form role="form" id="subform">
									<div class="col-lg-5 jz10">
										<input hidden="hidden" name="id" value="${art.id}" />
										<label>文章标题</label>
										<input class="form-control" name="title" value="${art.title}"
											id="title" placeholder="请输入文章标题" ><br /> 
											
											<label>关键字</label>
										<input class="form-control" name="keywords"  id="keywords" value="${art.keywords}"
											placeholder="请输入文章关键字" ><br />

										<div class="form-group">
											<label for="name">文章类型</label> 
											<select id="articletype" name="articletype" class="form-control" val="${art.articletype}">
												<option>-请选择文章类型-</option>
												<option value="ARTICLE_NEWS" >新闻动态</option>
												<option value="ARTICLE_HEALTH"  >口腔健康</option>
												<option value="ARTICLE_GY_ACTIVITY" >公益活动</option>
												<option value="ARTICLE_YH_ACTIVITY" >优惠活动</option>
											</select>
										</div>
                                        <label for="name">编辑文章</label>
                                       <textarea style="width:650px;height: 400px;" id="content" name="content" >${artE.content}</textarea><br/><br/>

										<div class="form-group">
											<label for="name">文章简介</label>
											<textarea class="form-control" id="introduction" name="introduction" rows="3" placeholder="输入简介信息(150字内)">${art.introduction}</textarea>
										</div>

										<div class="form-group-myfile">
											<label for="inputfile">选择缩略图</label>
											<input type="text" id="thumbnailurl" name="thumbnailurl" hidden="hidden" value="${art.thumbnailurl}"  />
											 <input type="file" 
												id="thumbtext" name="myfile" onchange="uploadImage(event);" accept="image/jpg, image/jpeg, image/gif, image/png">
											<p class="help-block">尺寸要求 200*120。</p>
										<img class="image-thumb" id="thumbnail"   src="${art.thumbnailurl}">
										</div>
                                        
										<div class="form-group">
											<label class="radio-inline"> <input type="radio"
												name="top" id="optionsRadios1" value="0"
												> 正常排序
											</label> <label class="radio-inline"> <input type="radio"
												name="top" id="optionsRadios2" value="1">
												文章置顶
											</label>
										</div>
										
										<div class="form-group">
											<label class="radio-inline"> <input type="radio"
												name="status" id="optionsRadios3" value="1"
												> 启用文章
											</label> <label class="radio-inline"> <input type="radio"
												name="status" id="optionsRadios4"  value="0">
												禁用文章
											</label>
										</div>

										<div  class="jz">
										<input type="button" value="点击修改" class="btn btn-default" onclick="edit()"  />
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


    <#include "/common/admin_js.html"/>
    <script charset="utf-8" src="/kindeditor/kindeditor-all.js"></script>
    <script charset="utf-8" src="/js/ajaxfileupload.js"></script>
	<!-- 后台公共js -->
	<script type="text/javascript">
	$(function(){
		//editor 回显数据
		
		//select，radio回显
		$("select option[value='${art.articletype}']").attr("selected",true); 
		$("input[name='top'][value='${art.top}']").attr("checked","checked");
		$("input[name='status'][value='${art.status}']").attr("checked","checked");

	});
	
	
	function edit() {
		
		var title = $("#title").val();
		var keywords = $("#keywords").val();
		var articletype = $("#articletype option:selected").val();
		var introduction = $("#introduction").val();
		var thumbnailurl = $("#thumbnailurl").val();
		var status = $("input[name='status']:checked").val();
		var top = $("input[name='top']:checked").val();
		var content = $("#content").val();
		console.log(title+"||"+keywords+"||"+articletype+"||"+introduction+"||"+thumbnailurl+"||"+status+"||"+top+"||"+content);
		
		if(content == ""){
			layer.alert('文章内容不可以为空！');
			return false;
		}
		if(title == "" || keywords == "" || articletype == "" || introduction == "" || thumbnailurl == ""){
			layer.alert('表单数据不可以为空！');
			return false;
		}
		
		
        $.ajax({
        //几个参数需要注意一下
            type: "POST",//方法类型
            url: "${request.contextPath}/admin/article/edit" ,//url
            data: $('#subform').serialize(),
            success: function (result) {
            	
            	if(result == "ARTICLE_EXIST"){
                	layer.alert('该文章标题已存在！',function(index){
                	window.location.href='${request.contextPath}/admin/article/toEdit?id='+$("#id").val();;
                	});
                	//跳转到新增
                }
            	
                if(result == "EDIT_SUCCESS"){
                	layer.alert('修改文章成功！',function(index){
                		window.location.href="${request.contextPath}/admin/article/toArticles";
                	});
                	//跳转到列表
                }
                if(result == "EDIT_FAIL"){
                	layer.alert('修改文章失败！',function(index){
                	window.location.href='${request.contextPath}/admin/article/toEdit?id='+$("#id").val();;
                	});
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
            	 alert(XMLHttpRequest.status);
            	 alert(XMLHttpRequest.readyState);
            	 alert(XMLHttpRequest.responseText);
            	 alert(textStatus);
            	   }
        });
    }
	

	</script>
	 <script type="text/javascript">
	
    //KindEditor脚本
    var editor;
    KindEditor.ready(function(K) {
        
		editor = K.create('#content',{
										uploadJson : '${request.contextPath}/kindeditor/fileUpload',
										allowImageUpload : true,  //开启图片上传
										
										fileManagerJson : '${request.contextPath}/kindeditor/fileManager',
										allowFileManager : false,  //开启图片空间
										//autoHeightMode : true,
										afterCreate : function() {//kindeditor创建后，将编辑器的内容设置到原来的textarea控件里
											this.loadPlugin('autoheight');
										},
										afterChange: function(){ //编辑器内容发生变化后，将编辑器的内容设置到原来的textarea控件里
							    	        this.sync();   
							            },
										afterBlur : function() {//编辑器聚焦后，将编辑器的内容设置到原来的textarea控件里
											this.sync();
										} //Kindeditor下获取文本框信息

									});
		editor.sync();
		//editor.html("content",'${artE.content}');
		//editor.html('${artE.content}');
				});
    
	</script>

</body>

</html>
