<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="answer" content="">
    <meta name="author" content="">

    <title>预约管理</title>

    <#include "/common/admin_css.html"/>
    <style>
    .seachBtn{
    border: 1px solid #60b0d6;
    font-size: 10px;
    padding: 3px 3px;
    }
    
    .excel{
    float: right;
    margin: -3px auto;
    }
    
    .paramdiv{
    clear: both;
    height: 30px;}
    </style>
</head>

<body>

    <div id="wrapper">
       <#include "/common/admin_header_left.html"/>
		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header">【预约/留言/建议】管理</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<p>
						<!-- <a type="button" class="btn btn-info"
							href="${request.contextPath}/admin/qa/toAdd">添加问答</a> -->
					</p><br/>
					<div class="panel panel-default">
						<div class="panel-heading">检索消息列表 
						<button id="excelBtn" class="excel"  >导出EXCEL</button>
						</div>
						<br />
						<form id="subform" method="post">
							<div class="paramdiv">
							<div style="height: 30px;">
								 <label class="xiaoxilabel">消息类型:&nbsp;&nbsp;</label>
								 <select id="messagetype" name="messagetype" class="xx" val="${appoint.messagetype}">
												<option value="">-ALL-</option>
												<option value="LEAVE_MSG_ADVICE">意见&建议</option>
												<option value="LEAVE_MSG_YUYUE">预约就诊</option>
												<option value="LEAVE_MSG_ZIXUN">留言咨询</option>
											</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											
								<label class="xiaoxilabel">选择诊所:&nbsp;&nbsp;</label>
								 <select id="clinic" name="clinic" val="${appoint.clinic}">
												<option value="">-ALL-</option>
												<option value="CLINIC_YM">怡美家园店</option>
												<option value="CLINIC_RQQJY">润千秋佳苑店</option>
												<option value="CLINIC_LL">柳浪家园店</option>
												<option value="CLINIC_BCXL">北辰香麓店</option>
											</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											
								<label class="xiaoxilabel">消息状态:&nbsp;&nbsp;</label>
								 <select id="status" name="status" val="${appoint.status}">
												<option value="">-ALL-</option>
												<option value="WAITING_REPLY">待处理</option>
												<option value="APPOINT_DOWN">已处理</option>
											</select>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								
								<label class="xiaoxilabel">输入医生:&nbsp;&nbsp;</label>			
								<input id="doctorname" name="doctorname" placeholder="对该条件进行模糊查询.."  />
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								
								 <a  href="javascript:void(0)" class="seachBtn" onclick="searchBtn();">检索</a> 
							</div>
							</div>
						</form>
						<table class="layui-hide" id="appointTable" lay-filter="demo"></table>

					</div>
				</div>
			</div>
		</div>
    </div>

    
   <#include "/common/admin_js.html"/> <!-- 后台公共js -->
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    var mytable= null;
  
    
    layui.use('table', function(){
    	  var table = layui.table;
    	  
    	    mytable =  table.render({
    	    elem: '#appointTable'
    	    ,url:'${request.contextPath}/admin/appoint/appointList'
    	    ,method:'post'
    	    ,cols: [[
               /* {type:'numbers'} */
               /* {type: 'checkbox'}, */
    	       {field:'id', width:70, title: 'ID', sort: true}
    	      ,{field:'patientname', width:100, title: '患者名'}
    	      ,{field:'phone', width:120, title: '手机号' }
    	      ,{field:'clinic', width:120, title: '诊所', templet:function(data){
    	    	  return showClinic(data);
    	      }}
    	      ,{field:'messagetype', width:120, title: '消息类型', templet:function(data){
    	    	  return showMessageType(data);
    	      }}
    	      ,{field:'doctorname', width:120, title: '医生名' }
    	      ,{field:'status', width:120, title: '消息状态', templet:function(data){
    	    	  return showStatus(data);
    	      }}
    	      ,{field:'appointdate', width:120, title: '约定日期',templet:function(data){
    	    	  return timestampToDate(data.appointdate);
    	      } }
    	      ,{field:'operatorid', width:100, title: '操作员ID'}
    	      ,{field:'createtime', width:160, title: '创建时间', sort: true,templet:function(data){
    	    	  return timestampToTime(data.createtime);
    	      }}
    	      ,{field:'updatetime', width:160, title: '修改时间', sort: true,templet:function(data){
    	    	  return timestampToTime(data.updatetime);
    	      }}
    	      ,{field:'right', title: '操作', width:120,toolbar:"#barDemo"}
    	    ]]
    	    ,where: {
    	    	
  		      }
    	    ,page: {layout: ['limit', 'count', 'prev', 'page', 'next', 'skip']
    	       //,curr: 5 //设定初始在第 5 页
    	      //,groups: 1 //只显示 1 个连续页码
    	      //,first: false //不显示首页
    	      //,last: false //不显示尾页
    	    }
    	 
    	  });
    	
    	    
    	    table.on('tool(demo)', function(obj){
			    var data = obj.data;
			    if(obj.event === 'detail'){
			      layer.msg('ID：'+ data.id + ' 的查看操作');
			    } else if(obj.event === 'del'){
			      layer.confirm('真的删除行么', function(index){
			        
			    	     $.ajax({
			    	         //几个参数需要注意一下
			    	             type: "POST",//方法类型
			    	             url: "${request.contextPath}/admin/appoint/delete" ,//url
			    	             data: {"id":data.id},
			    	             success: function (result) {
			    	                 if(result == "DELETE_SUCCESS"){
			    	                 	layer.alert('删除消息成功！',function(index){
			    	                		window.location.href="${request.contextPath}/admin/appoint/toAppoints";
			    	                	});
			    	                 	//跳转到列表
			    	                 }
			    	                 if(result == "DELETE_FAIL"){
			    	                 	layer.alert('删除消息失败！',function(index){
			    	                		window.location.href="${request.contextPath}/admin/appoint/toAppoints";
			    	                	});
			    	                 }
			    	             },
			    	            
			    	         });
			    	  
			        layer.close(index);
			      });
			    } else if(obj.event === 'edit'){
			      window.location.href="${request.contextPath}/admin/appoint/toEdit?id="+data.id;
			    }
			  });
    	    

    	});
    
     function showClinic(data){
    	 if(data.clinic == "CLINIC_YM"){
    		 return "怡美店"
    	 }else if(data.clinic == "CLINIC_RQQJY"){
    		 return "润千秋佳苑店"
    	 }else if(data.clinic == "CLINIC_LL"){
    		 return "柳浪店"
    	 }else if(data.clinic == "CLINIC_BCXL"){
    		 return "北城香麓店"
    	 }
    	 
     }
    function showMessageType(data){
    	if(data.messagetype == "LEAVE_MSG_ADVICE"){
   		 return "意见&建议"
   	 }else if(data.messagetype == "LEAVE_MSG_YUYUE"){
   		 return "就诊预约"
   	 }else if(data.messagetype == "LEAVE_MSG_ZIXUN"){
   		 return "咨询留言"
   	 }
    	
     }
    function showStatus(data){
    	if(data.status == "WAITING_REPLY" && data.messagetype == "LEAVE_MSG_YUYUE"){
   		 return "待回访"
   	 }else if(data.status == "WAITING_REPLY" && data.messagetype == "LEAVE_MSG_ZIXUN"){
   		 return "待回复"
   	 }else if(data.status == "APPOINT_DOWN"){
   		 return "已处理";
   	 }
    	
    }
    
       
       function searchBtn(){
    	   
    	 //条件查询
    		 mytable.reload({
    			where:{
    				"doctorname": $("#doctorname").val(),
    				"messagetype": $("#messagetype option:selected").val(),
    				"clinic": $("#clinic option:selected").val(),
    				"status": $("#status option:selected").val()
    			}
    		});
    	 
       }
       
       $("#excelBtn").click(function(){
    	  
    	  $.ajax({
    	        //几个参数需要注意一下
    	            type: "POST",//方法类型
    	            url: "${request.contextPath}/admin/appoint/exportCSV" ,//url
    	            data: $('#subform').serialize(),
    	            success: function (result) {
    	            	
    	              /*   if(result == "EDIT_SUCCESS"){
    	                	layer.alert('消息已处理！',function(index){
    	                		window.location.href="${request.contextPath}/admin/appoint/toAppoints";
    	                	});
    	                	//跳转到列表
    	                }
    	                if(result == "EDIT_FAIL"){
    	                	layer.alert('消息处理失败！',function(index){
    	                	window.location.href='${request.contextPath}/admin/appoint/toEdit?id='+$("#id").val();;
    	                	});
    	                } */
    	            },
    	            error: function(XMLHttpRequest, textStatus, errorThrown) {
    	            	 alert(XMLHttpRequest.status);
    	            	 alert(XMLHttpRequest.readyState);
    	            	 alert(XMLHttpRequest.responseText);
    	            	 alert(textStatus);
    	            	   }
    	        });
    	  
       });
		
	

    </script>
    
    <script type="text/html" id="barDemo">
    <a  class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

</body>

</html>
