<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>北京新北口腔</title>
<meta name="description" content="北京新北口腔" />
<meta name="keywords" content="新北口腔,北京牙科,北京牙齿种植,种植牙,牙齿矫正" />
<link type="text/css" rel="stylesheet" href="/css/index.css"  />
<link href="/css/style.css" rel="stylesheet"/>
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script src="/js/jquery.SuperSlide.2.1.1.source.js"></script> 
<script src="/js/expert.js"></script>
<script src="/js/indexApp.js"></script>
<script src="/layui_v2.3.0/layui.all.js"  charset="utf-8" ></script>
<style>
.intro{position: relative; line-height: 22px; max-height: 44px;overflow: hidden;}
.intro::after{content: "..."; position: absolute; bottom: 0; right: 0; padding-left: 40px;
background: -webkit-linear-gradient(left, transparent, #fff 55%);
background: -o-linear-gradient(right, transparent, #fff 55%);
background: -moz-linear-gradient(right, transparent, #fff 55%);
background: linear-gradient(to right, transparent, #fff 55%);
}
</style>
</head>
<body onselectstart="return false;">
<#include "/common/home_header.html"/>
<!--轮播器 -->
   <#include "/common/home_lunbo.html"/>
<!--轮播器 -->

<!--牙科项目介绍 -->
    <#include "/common/home_oral.html"/>
<!--牙科项目介绍 -->
<div class="clear"></div>
<!--新北品牌 -->
<section>
  <div id="CdCont">
    <div class="EasyD tybox">
      <div class="tit"><span></span>新北品牌
        <div class="titwenzi">/Brand</div>
      </div>
      <img alt="上海新北牙科大厅图片"  src="/images/img_01.jpg" />
      <p>新北牙科为新北医疗投资集团重金打造的旗舰医院，是按照三级口腔专科医院和五星级健康会所标准建设……<a href="/about/jianjie/" target="_blank">【详细】</a></p>
    </div>
    <div class="News tybox">
          <div class="tit"><span></span>新北动态
            <div class="titwenzi">/News</div>
            </div>
        <div class="tab_box"> 
        <div class="newspic">
         <#list articles as article>
         <#if article_index == 0>  
        <a href="${request.contextPath}/admin/article/showArticleById?articleId=${article.id}" title="${article.title}">
        <#if article.thumbnailurl != ''>
				<img src="${article.thumbnailurl}" width="180" />
				<#else>
				<img src="/images/home/article_deful.png" width="180" />
			</#if>
        </a>
        </#if>
        </#list>
        
         </div>
          <dl>
       <#list articles as article>
         <#if article_index == 0>
            <dt class="intro">${article.introduction}<a href="${request.contextPath}/admin/article/showArticleById?articleId=${article.id}">【详情】</a></dt>
          </#if>

           <dd style="height: 30px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;"><a href="${request.contextPath}/admin/article/showArticleById?articleId=${article.id}" title="${article.title}">${article.title}</a></dd>
          </#list>
          </dl>
        </div>
    </div>
    <div class="Video tybox">
      <div class="tit"><span></span>齿科视频
        <div class="titwenzi">/Video</div>
      </div>
      <div class="video">
         <!-- <iframe   allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" oallowfullscreen="true" msallowfullscreen="true"
         src="/video/aojiao.mp4"
         height="180" width="250" frameborder="0"></iframe>  -->
         
        <!--  <vedio  height="180" width="250"  autoplay="autoplay" preload="auto" controls="controls" >
         <source src="/video/aojiao.mp4" type="video/mp4" />
                         您的浏览器不支持html5的video标签
         </vedio> -->

      </div>
      <p>口腔小知识.</p>
    </div>
  </div>
</section>

<!--新北常见牙齿问题 -->
<section>
  <div class="con2tent" id="con2tent">
    <div class="GY3EasyD_title">
      <div class="GY3EasyD_tubiao"></div>
      <div class="GY3EasyD_wenzi">医生团队 <span>/Dentist</span></div>
    </div>
    <div class="stageContainer pubW center">
      <div class="stage1 ">
        <div class="stage_a fl relative"> <a href="javascript:void(0)" class="preBtn absolute bt"><i></i></a>  <a href="javascript:void(0)" class="nextBtn absolute bt"><i></i></a> 
          <div class="slideBox">
       <#list doctors as doctor>
            <div class="slide relative"> <a href="#" target="_blank"> <img src="${doctor.picpath}" width="366" height="500"/></a>
              <div class="innerWrapper absolute">
                <div class="zhuanjiawzbox">
                  <div class="zhuanjiaxwz1">
                    <h5><span>${doctor.doctorname}</span>${doctor.position}</h5>
                  </div>
                  <div class="zhuanjiaxwz3">
                    <p><span>资质：</span>
                    <#if (doctor.qualification == 'ASSISTANT_PHYSICIAN')>
                                                        助理医师
                     <#elseif (doctor.qualification == 'PRACTICE_PHYSICIAN') >
                                                        职业医师
                     <#elseif (doctor.qualification == 'ATTENDING_PHYSICIAN') >
                                                        主治医师
                     <#elseif (doctor.qualification == 'ASSOCIATE_CHIEF_PHYSICIAN') >
                                                         副主任医师
                     <#else>
                                                        主任医师
                    </#if>
                    </p>
                  </div>
                  <div class="zhuanjiaxwz4">
                    <p><span>擅长：</span>${doctor.major}</p>
                  </div>
                  <div class="zhuanjiaxwz2">
                      <p>
                      <#list  (doctor.introduction) ? split("#") as per>
                        <span>★</span> ${per}<br>
                      </#list>
                      </p>
                      
                  </div>
                </div>
                <!-- <div class="zhuanjanbox">
                  <div class="zhuanjan1"><a href="javascript:void(0)" onclick="">咨询医生</a></div>
                  <div class="zhuanjan2"><a href="javascript:void(0)" onclick="">预约医生</a></div>
                </div> -->
              </div>
            </div> </#list>
          </div>
        </div>
        
        <div class="mqs fr">
        <input hidden="hidden" id="qasLen" value="${qas?size}" />
         <div id="mq" onmouseover=iScrollAmount=0 style="OVERFLOW: hidden; WIDTH:410px; margin:0 auto; HEIGHT:480px;" onmouseout=iScrollAmount=1>
        <ul>
         <#list qas as qa>
            <li>
                <div class="vo1">
                    <div class="name"><span><a href="javascript:void(0)">QUESTION</a></span><em>${qa.question}</em></div>
                    <div class="time">${qa.time?string('MM-dd')}</div>
                </div>
                <div class="vo2">${qa.answer}</div>
            </li>
            </#list>
        </ul>
    </div>
      </div>
    </div>
  </div>
</section>
<div class="clear"></div>
<div class="clear"></div>
<!--质量体系 -->
<section>
	<div id="CdDental">
		<div class="picimg">
			<img src="/images/hot.jpg">
		</div>
		<div class="picimg2">
			<a href="javascript:void(0)" onmouseover="return changeAColor();">牙齿矫正</a> <a
				href="javascript:void(0)" >烤瓷牙的使用时长</a> <a
				href="javascript:void(0)" >牙齿矫正的最佳年龄</a> <a
				href="/home/makeAppointment" >我要留言</a> <a
				href="javascript:void(0)" >托槽矫正</a> <a
				href="javascript:void(0)" >牙齿矫正多少钱</a> <a
				href="javascript:void(0)" >牙套要带多久</a> <a
				href="javascript:void(0)" >全瓷牙价格</a> <a
				href="javascript:void(0)" >隐形矫正牙齿</a> <a
				href="/home/makeAppointment" >我要去吐槽啦</a> <a
				href="javascript:void(0)" >烤瓷牙价格</a> <a
				href="javascript:void(0)" >门牙掉了一小块</a> <a
				href="javascript:void(0)" >洗牙痛吗</a> <a
				href="javascript:void(0)" >虎牙怎么办</a> <a
				href="/home/makeAppointment" >在线预约医生</a><a
				href="javascript:void(0)" >白领矫正牙齿</a><a
				href="javascript:void(0)" >牙齿断了一半怎么办</a> <a
				href="javascript:void(0)" >牙齿发黄</a> <a
				href="javascript:void(0)" >牙齿不美观</a> <a
				href="/home/makeAppointment" >点击咨询医生</a> <a
				href="javascript:void(0)" >儿童正畸</a> <a
				href="javascript:void(0)" >牙齿美白多少钱</a> <a
				href="javascript:void(0)" >暴牙</a> <a
				href="/home/makeAppointment" >官网挂号窗口</a>
		</div>
	</div>
	</section>
<!--质量体系 -->
<section>
  <div class="GY2EasyD">
    <div class="GY2EasyD_title">
      <div class="GY2EasyD_tubiao"></div>
      <div class="GY2EasyD_wenzi">走进新北 <span>/XINBEI</span></div>
    </div>
    <div class="GY2EasyD_left"> <a><img src="/images/ycdh/yc_04.jpg"  border="0" /></a> </div>
    <div class="GY2EasyD_right">
      <div class="slide2QH">
        <div class="hd">
          <ul>
            <li>就诊环境</li>
            <li>门诊荣誉</li>
            <li>科学设备</li>
          </ul>
        </div>
        <div class="bd">
          <ul>
          <#list envir_banners as envir>
            <li> <img src="${envir.picurl}" width="214" height="155" alt="">
              <p>${envir.bannername}</p>
            </li>
          </#list>
          </ul>
          <ul>
           <#list honor_banners as honor>
            <li> <img src="${honor.picurl}" width="214" height="155" alt="">
              <p>${honor.bannername}</p>
            </li>
          </#list>
          </ul>
          <ul>
            <#list facility_banners as facility>
            <li> <img src="${facility.picurl}" width="214" height="155" alt="">
              <p>${facility.bannername}</p>
            </li>
          </#list>
          </ul>
        </div>
      </div>
      <script type="text/javascript">jQuery(".slide2QH").slide();</script> 
    </div>
    <div class="clear"></div>
  </div>
</section>
<div class="clear"></div>
<script src="/js/muqruujs.js"></script>
<!--尾部 --> 

<#include "/common/home_footer.html"/>
</body>
<script>
$(function(){

	
	//标签字体随机变色
	$(".picimg2 a").hover(function(){
		var _opt = $(this);
		
		this.r = Math.floor(Math.random()*255);
	    this.g = Math.floor(Math.random()*255);
	    this.b = Math.floor(Math.random()*255);
	    this.color = 'rgba('+ this.r +','+ this.g +','+ this.b +',0.8)';
	    
        $(this).css("color",this.color).siblings().css("color","#555555");
       // .siblings().css("color","#555555")
	});
	
});


</script>


</html>