<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<title>了解新北</title>
<link type="text/css" href="/css/style.css" rel="stylesheet"/>
<link type="text/css" rel="stylesheet" href="/css/index.css"  />
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<style type="text/css">
  
</style>
</head>

<body>
<#include "/common/home_header.html"/>
<img style="width: 100%;height: 400px;margin-top: 1px;" src="/images/ycdh/yc_03.jpg">  
  <div class="introduction_main">

                    <div class="items about">

                        <div class="introduction_title">
                            <p class="f-30 bold"><span>了解瑞尔</span><em class="uppercase f-24">ABOUT ARRAIL</em></p>
                            <div class="line"></div>
                        </div>

                        <div class="content-box">
                            <div class="row-01 cf">
                                <div class="img-box fl">
                                    <img class="ratio-img" data-ratio="1.14" onerror="lod(this)" src="http://arrail-dental.chinacloudsites.cn/Public/Upload/image/20170417/149240831023c2acda46f53c8b.jpg" alt="">
                                </div>

                                <div class="content oh">
                                    <ul class="cf">
	<li>
		<div class="text">
			<p class="f-bold">
				<i class="f-60 timer0" data-to="1999" data-speed="1000">0</i><em class="f-16">年</em> 
			</p>
<span class="f-16 f-bold">瑞尔齿科成立</span> 
		</div>
	</li>
	<li>
		<div class="text">
			<p class="f-bold">
				<i class="f-60 timer0" data-to="40" data-speed="1000">0</i><em class="f-16">余家</em> 
			</p>
<span class="f-16 f-bold">直营诊所</span> 
		</div>
	</li>
	<li>
		<div class="text">
			<p class="f-bold">
				<i class="f-60 timer0" data-to="200" data-speed="1000">0</i><em class="f-16">万人次</em> 
			</p>
<span class="f-16 f-bold">高品质服务</span> 
		</div>
	</li>
</ul>
                                    <div class="edit_con_original f-14" style="color: #3d3d3d;">
                                        <p>
	<br />
瑞尔齿科成立于1999年，由海外归国学子与国际医药领域企业家共同创建，致力于为中国中产阶层和外籍人士提供专业的口腔医疗服务。医疗团队全部由经验丰富的医生和口腔专科护士组成。<br />
瑞尔齿科自建立至今，接诊人次近200万，拥有庞大医疗病例库，医生通过病例讨论、复杂病例报告、病例筛查、会诊制度等一系列医疗质量监控体系，确保顾客得到满意的治疗方案以及微创、舒适化、个性化的舒适治疗。同时，瑞尔与国内外40余家保险机构接轨，建立保险直付服务体系。迄今为止，瑞尔集团已在北京、上海、深圳、广州、天津、杭州、厦门等一线城市开设40多家诊所。
</p>                                    </div>
                                </div>
                            </div>

                            <div class="row-02 cf">
                                <div class="img-box fr">
                                    <img class="ratio-img" data-ratio="1.19" onerror="lod(this)" src="http://arrail-dental.chinacloudsites.cn/Public/Upload/image/20170417/1492408322b0796ac1609bf635.jpg" alt="">
                                </div>

                                <div class="content oh">
                                    <div class="top cf">
                                        <p class="f-38 f-bold"><i class="p-i01 auto-bg" style="background-image: url(/images/about_icon07.png);"></i>瑞尔生产微笑</p>
                                        <p class="f-20 fr">— — 瑞尔集团创始人兼总裁·邹其芳<i class="p-i02 auto-bg" style="background-image: url(/images/about_icon05.png);"></i></p>
                                    </div>

                                    <div class="edit_con_original f-14">
                                        <p class="cf">
	<i class="fl auto-bg" style="width:11px;height:11px;margin:0.5em 0.5em 0 0;background-image:url(Public/Upload/image/20170417/58f45a2304b12.png);"></i><span style="display:block;" class="oh"> </span> 
</p>
<p class="MsoNormal">
	<span style="font-family:'Microsoft YaHei';">瑞尔集团创始人兼总裁</span><br />
<span style="font-family:'Microsoft YaHei';">美国宾夕法尼亚大学沃顿商学院</span><span style="font-family:'Microsoft YaHei';">MBA</span><br />
<span style="font-family:'Microsoft YaHei';">美国宾夕法尼亚大学沃顿商学院亚洲理事会理事</span><br />
<span style="font-family:'Microsoft YaHei';">美国宾夕法尼亚大学口腔医学院董事</span><br />
<span style="font-family:'Microsoft YaHei';">欧美同学会商会理事</span><br />
<span style="font-family:'Microsoft YaHei';">•</span><span style="font-family:'Microsoft YaHei';">2010</span><span style="font-family:'Microsoft YaHei';">年 美国宾夕法尼亚大学沃顿商学院亚洲董事会董事及宾夕法尼亚大学口腔医学院董事等职务</span><br />
<span style="font-family:'Microsoft YaHei';">•</span><span style="font-family:'Microsoft YaHei';">1999</span><span style="font-family:'Microsoft YaHei';">年 归国创立瑞尔集团，任总裁一职</span><br />
<span style="font-family:'Microsoft YaHei';">•</span><span style="font-family:'Microsoft YaHei';">1994</span><span style="font-family:'Microsoft YaHei';">年 赴港任美国信孚银行担投资顾问，后就职</span><span style="font-family:'Microsoft YaHei';">A.T.Kearney</span><span style="font-family:'Microsoft YaHei';">任管理顾问</span><br />
<span style="font-family:'Microsoft YaHei';">•</span><span style="font-family:'Microsoft YaHei';">1992</span><span style="font-family:'Microsoft YaHei';">年 就读美国宾夕法尼亚大学沃顿商学院，后获得</span><span style="font-family:'Microsoft YaHei';">MBA</span><span style="font-family:'Microsoft YaHei';">学位</span><br />
<span style="font-family:'Microsoft YaHei';">•</span><span style="font-family:'Microsoft YaHei';">1984</span><span style="font-family:'Microsoft YaHei';">年 就职于中美天津史克制药有限公司任市场部经理</span><br />
<span style="font-family:'Microsoft YaHei';">•</span><span style="font-family:'Microsoft YaHei';">1982</span><span style="font-family:'Microsoft YaHei';">年 毕业于天津外国语学院，分配至天津医管局担任翻译</span> 
</p>
<p class="cf">
	<i class="fl auto-bg" style="width:11px;height:11px;margin:0.5em 0.5em 0 0;background-image:url(Public/Upload/image/20170417/58f45a2304b12.png);"></i><span style="display:block;" class="oh"></span> 
</p>                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <div class="tooth-3">
                        <div class="tit f-28">部分重点机构客户</div>
                        <div class="device2">
                            <a class="arrow-left over" href="javascript:;"></a>
                            <a class="arrow-right" href="javascript:;"></a>
                            <div class="swiper-container">
                                
                            </div>
                        </div>

                    </div>


                    <div class="tooth-3">
                        <div class="tit f-28">部分直付协议保险</div>
                        <div class="device2">
                            <a class="arrow-left over" href="javascript:;"></a>
                            <a class="arrow-right" href="javascript:;"></a>
                            
                        </div>

                    </div>


                    <div class="items youshi">
                        <div class="title">
                            <p class="f-30 bold"><span>瑞尔优势</span><em class="uppercase f-24">ARRAIL ADVANTAGE</em></p>
                            <div class="line"></div>
                        </div>

                                                <div class="list-box">
                            <ul class="list list-01 cf">
                                <li>
                                                                                <div class="content-box">
                                            <p class="top f-18">【“顾客即家人”的服务理念】</p>
                                            <div class="edit_con_original f-14">
                                                <p>
	从沮丧到微笑，从痛苦到开怀其实可以很近 。瑞尔客服团队始终秉承“顾客即家人”的服务理念，以真情和贴心的服务真正做到了让客户满意。
</p>
<ul>
	<li>
		完善的预约系统，预约成功后将短信通知客户预约诊所的详细信息、交通路线等；并在就诊前一天通过电话提醒客户；
	</li>
	<li>
		建立终身的口腔健康档案，并承诺对客户的资料进行保密和保护；
	</li>
	<li>
		医护人员的全程陪同以及家庭般温暖的沟通和交流，让客户感受到温馨和愉悦;
	</li>
	<li>
		节假日祝福；
	</li>
	<li>
		定期回访。
	</li>
</ul>                                            </div>
                                        </div>
                                    </li><li>
                                        <div class="icon-box">
                                                <i class="left"><img class="ratio-img" data-ratio="1" onerror="lod(this)" src="/images/about_icon03.png" alt=""></i>
                                                <i class="right"><img class="ratio-img" data-ratio="1" onerror="lod(this)" src="/images/about_icon03.png" alt=""></i>
                                            </div>                                        <div class="content-box">
                                            <p class="top f-18">【深厚的中外学术基石】</p>
                                            <div class="edit_con_original f-14">
                                                <p>瑞尔积极开展各类学术交流活动，并将学术交流纳入到制度化管理常态中，为整体医疗水平始终保持与国际同步奠定了坚实基础。</p>
                                            <p>目前，瑞尔同国内外多家知名口腔专业医疗学术机构建立了长期持续的培训合作关系，包括国内各大口腔专科院校、美国宾夕法尼亚大学口腔医学院等。</p>
                                            <p>从2013年起，瑞尔齿科成为国内第一家向宾夕法尼亚大学口腔医学院派遣访问学者的中国民营医疗机构，每年派遣精英医生前往宾夕法尼亚大学口腔医学院访问学习，按照与国际同步的标准为瑞尔量身制定高标准的医疗操作规范，不断深化和提升瑞尔齿科的综合水准。</p>                                            </div>
                                        </div>
                                    </li><li>
                                                                                <div class="content-box">
                                            <p class="top f-18">【顾客为中心的管理模式】</p>
                                            <div class="edit_con_original f-14">
                                                <p>瑞尔齿科每个诊所都配备全科+专科医生的医疗服务体系，拥有完善的转诊和会诊制度，为解决客户的疑难病例提供了更加全面的治疗方案。</p>
                                            <p>采用国际先进的医疗管理模式，建立了制度化、常态化的医疗质量管理和监督体系。</p>
                                            <p>客户拥有知情同意权，适度治疗是瑞尔对客户的承诺。从病例的正规书写到复杂病例的后续治疗，以及橡皮障的常规使用等，都有专门的医务总监负责监管，以确保每一位客户的医疗质量和就诊安全</p>                                            </div>
                                        </div>
                                    </li>                            </ul>

                            <div class="img-box">
                                <img class="ratio-img" data-ratio="0.33524904" onerror="lod(this)" src="http://arrail-dental.chinacloudsites.cn/Public/Upload/image/20170417/1492408343b1d16f01c48e86b6.png" alt="">
                            </div>

                            <ul class="list list-02 cf">
                                <li>
                                                                                <div class="content-box">
                                            <p class="top f-18">【严格的技术标准与安全治疗设施】</p>
                                            <div class="edit_con_original f-14">
                                                <p>瑞尔齿科每个诊所都配备全科+瑞尔采用国际先进的牙科设备及材料，率先引进了瑞典NOBEL GUIDE种植牙技术。在美容修复诊疗的材料选择和设计思路上更是与国际接轨，确保了治疗后的效果；西门子SIRONA系列X光机更精确，更加安全，并可有效减少辐射危害 。</p>
                                            <p>瑞尔齿科严格遵循美国齿科协会（ADA）标准进行消毒，杜绝交叉感染。所有诊所均配备了消毒室和无菌室，并用紫外线灭菌灯进行空气消毒。医疗器械每次使用前都经过消毒液浸泡和高温高压双重消毒，不能高温高压消毒的物品均为一次性使用，让客户享受安全的齿科服务。</p>                                            </div>
                                        </div>
                                    </li><li>
                                        <div class="icon-box">
                                                <i class="left"><img class="ratio-img" data-ratio="1" onerror="lod(this)" src="/images/about_icon03.png" alt=""></i>
                                                <i class="right"><img class="ratio-img" data-ratio="1" onerror="lod(this)" src="/images/about_icon03.png" alt=""></i>
                                            </div>                                        <div class="content-box">
                                            <p class="top f-18">【卓越的医生团队】</p>
                                            <div class="edit_con_original f-14">
                                                <p>
	国内外优秀的专业人才汇聚，已经成瑞尔最大的人力资源优势。在瑞尔医疗团队中，硕士和博士占医生总数的60%以上。瑞尔的很多医生毕业于英国伦敦大学皇家医学齿科学院、北京大学口腔医学院、华西医科大学口腔医学院等国内外名校，且大部分医生为美国齿科协会会员。

</p>                                            </div>
                                        </div>
                                    </li><li>
                                                                                <div class="content-box">
                                            <p class="top f-18">【舒适的诊疗环境】</p>
                                            <div class="edit_con_original f-14">
                                                <p>
	瑞尔齿科所有诊所均位于全国一、二线城市商业核心区域的高档写字楼或购物中心内，致力于让客户置身更人性化的舒适空间，努力将顾客的治疗过程变成愉悦的就诊体验。
</p>
<ul>
	<li>
		瑞尔齿科所有诊所均位于全国一、二线城市商业核心区域的高档写字楼或购物中心内，致力于让客户置身更人性化的舒适空间，努力将顾客的治疗过程变成愉悦的就诊体验。
	</li>
	<li>
		温馨、个性化的儿童诊室和儿童乐园让小朋友们不再恐惧看牙；
	</li>
</ul>                                            </div>
                                        </div>
                                    </li>
                            </ul>
                        </div>
                    </div>

                    <div class="bottom-text">
                        <p class="f-30 f-bold">瑞尔致力于让您笑得更自信</p>
                        <p class="uppercase f-20">FABULOUS SMILE. CONFIDENT YOU</p>
                    </div>
                </div>

<#include "/common/home_footer.html"/>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?12bdb5ca8491102f9c8103be1ef5f423";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
    </div>
    <script>
        $(".topmenuclass li").eq(6).addClass("on");
        $(function(){
            if ($(".menu-bon").css("display") == "none") {
                var list_01 = $(".list-01").children("li"),
                list_02 = $(".list-02").children("li"),
                list1_h = [],
                list2_h = [];
                $(list_01).each(function(i,el){
                    list1_h[i] = $(el).height();
                });
                list1_h.sort(function(a,b){
                    return b-a;
                });
                $(list_01[1]).height(list1_h[0]);

                $(list_02).each(function(i,el){
                    list2_h[i] = $(el).height();
                });
                list2_h.sort(function(a,b){
                    return b-a;
                });
                $(list_02[1]).height(list2_h[0]);
            };
            getMuen();


        
        });
    </script>
</body>
</html>