<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<title>预约留言</title>
<link type="text/css" href="/css/style.css" rel="stylesheet"/>
<link type="text/css" rel="stylesheet" href="/css/index.css"  />
<link type="text/css" rel="stylesheet" href="/layui_v2.3.0/css/layui.css"  />
<link type="text/css" rel="stylesheet" href="/css/appoint.css"  />
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/gVerify.js"></script>
<script src="/layui_v2.3.0/layui.all.js"  charset="utf-8" ></script>
<style type="text/css">

.layui-input{
    height: 32px;
    width: 300px;
    margin-left: 32px; 
    padding-left: 10px;
    border: 1px solid #35a9bc;
    float: right;
    vertical-align: middle;
    margin-top: -41px;
    margin-right: 185px;
}
</style>
</head>

<body>
<#include "/common/home_header.html"/>
<img style="width: 100%;height: 340px;margin-top: -2px;" src="/images/ycdh/yc_03.jpg">  

<div class="appointMain">
<div class="appoint_left">
<div class="btnClass">
<button class="appointBtn"  id="yyBtn">在线预约</button>
<button class="appointBtn" id="lyBtn">留言咨询</button>
<button class="appointBtn" id="jyBtn">我要吐槽</button>
</div>
</div>
<div class="appoint_right">


<div  id="yy" class="appointform active">
<form id="yyForm" method="post">
<div class="Inputclass"><label class="lb">☆姓名</label><input id="patientname" name="patientname"  class="inputC" placeholder ="请输入您的姓名"  /></div>
<div class="Inputclass"><label class="lb">☆手机号</label><input id="phone" name="phone" class="inputC" placeholder ="请输入您的手机号码" /></div>
<div class="Inputclass"><label class="lb">☆选择诊所</label> <select id="clinic" name="clinic" class="inputC">
								<option>-请选择诊所-</option>
								<option value="CLINIC_YM">怡美家园店</option>
								<option value="CLINIC_RQQJY">润千秋佳苑店</option>
								<option value="CLINIC_LL">柳浪家园店</option>
								<option value="CLINIC_BCXL">北辰香麓店</option>
							</select>
						</div>
		<input id="messagetype" name="messagetype" hidden="hidden"  value ="LEAVE_MSG_YUYUE" />
<div class="Inputclass"><label class="lb">预约时间</label><input id="appointdate" name="appointdate"  class="layui-input" placeholder ="请选择预约时间"  /></div>		
<div class="Textclass"><label class="textlb">预约描述</label>
<textarea class="textC" name="messageContent"  id="messageContent" placeholder="如有需要，请补充说明您的预约情况。稍后我们将会给您回访电话，详细确定预约情况，感谢您的信任！"></textarea>
</div>
<div class="Inputclass"><label class="lb">验证码</label><input id="patientname" name="patientname"  class="vcodeC" placeholder ="请输入验证码"  />
<!-- <div id="v_container" style="width: 125px;height: 30px;float: right;margin-top: 9px;margin-right: 125px;"></div> -->
<img style="width: 125px;height: 30px;float: right;margin-top: 9px;margin-right: 125px;" src="${request.contextPath}/appoint/verification" id="CreateCheckCode" 
            class="checkcode" onclick="this.src='${request.contextPath}/appoint/verification?' + Math.random()" />

</div>
<div class="Inputclass"></div>
<div class="Inputclass">
<button class="mk_apointBtn" type="button"  onblur="submit()" >提交</button> 
<button class="mk_apointBtn" onclick="reset();" type="button" >重置</button>
</div>
</form>
</div>
<div  id="zx" class="appointform">
<form id="zxForm" method="post">
<div class="Inputclass"><label class="lb">☆姓名</label><input id="patientname" name="patientname"  class="inputC" placeholder ="请输入您的姓名"  /></div>
<div class="Inputclass"><label class="lb">☆手机号</label><input id="phone" name="phone" class="inputC" placeholder ="请输入您的手机号码" /></div>
<div class="Inputclass"><label class="lb">选择诊所</label> <select id="clinic" name="clinic" class="inputC">
								<option>-请选择诊所-</option>
								<option value="CLINIC_YM">怡美家园店</option>
								<option value="CLINIC_RQQJY">润千秋佳苑店</option>
								<option value="CLINIC_LL">柳浪家园店</option>
								<option value="CLINIC_BCXL">北辰香麓店</option>
							</select>
						</div>
		<input id="messagetype" name="messagetype" hidden="hidden"  value ="LEAVE_MSG_ZIXUN" />
<div class="Textclass"><label class="textlb">留言咨询</label>
<textarea class="textC" name="messageContent"  id="messageContent" placeholder="请尽可能详细的描述您的口腔问题，我们将在3天内回复您的问题."></textarea>
</div>
<div class="Inputclass"><label class="lb">验证码</label><input id="patientname" name="patientname"  class="vcodeC" placeholder ="请输入验证码"  />
<!-- <div id="v_container" style="width: 125px;height: 30px;float: right;margin-top: 9px;margin-right: 125px;"></div> -->
<img style="width: 125px;height: 30px;float: right;margin-top: 9px;margin-right: 125px;" src="${request.contextPath}/appoint/verification" id="CreateCheckCode" 
            class="checkcode" onclick="this.src='${request.contextPath}/appoint/verification?' + Math.random()" />
</div>
<div class="Inputclass"></div>
<div class="Inputclass">
<button class="mk_apointBtn" type="button" >提交</button> 
<button class="mk_apointBtn" onclick="reset();" type="button">重置</button>
</div>
</form>
</div>
<div  id="jy" class="appointform">
<form id="jyForm" method="post">
<div class="Inputclass"><label class="lb">☆姓名</label><input id="patientname" name="patientname"  class="inputC" placeholder ="请输入您的姓名"  /></div>
<div class="Inputclass"><label class="lb">☆手机号</label><input id="phone" name="phone" class="inputC" placeholder ="请输入您的手机号码" /></div>
<div class="Inputclass"><label class="lb">☆选择诊所</label> <select id="clinic" name="clinic" class="inputC">
								<option>-请选择诊所-</option>
								<option value="CLINIC_YM">怡美家园店</option>
								<option value="CLINIC_RQQJY">润千秋佳苑店</option>
								<option value="CLINIC_LL">柳浪家园店</option>
								<option value="CLINIC_BCXL">北辰香麓店</option>
							</select>
						</div>
		<input id="messagetype" name="messagetype" hidden="hidden"  value ="LEAVE_MSG_ADVICE" />
<div class="Textclass"><label class="textlb">建议/意见</label>
<textarea class="textC" name="messageContent"  id="messageContent" placeholder="请您填写对我们工作的意见或者建议，您的口腔健康是我们进步的动力.谢谢！" ></textarea>
</div>
<div class="Inputclass"><label class="lb">验证码</label><input id="patientname" name="patientname"  class="vcodeC" placeholder ="请输入验证码"  />
<!-- <div id="v_container" style="width: 125px;height: 30px;float: right;margin-top: 9px;margin-right: 125px;"></div> -->
<img style="width: 125px;height: 30px;float: right;margin-top: 9px;margin-right: 125px;" src="${request.contextPath}/appoint/verification" id="CreateCheckCode" 
            class="checkcode" onclick="this.src='${request.contextPath}/appoint/verification?' + Math.random()" />
</div>
<div class="Inputclass"></div>
<div class="Inputclass">
<button class="mk_apointBtn" type="button" >提交</button> 
<button class="mk_apointBtn" onclick="reset();" type="button">重置</button>
</div>
</form>
</div>
</div>

</div>
<#include "/common/home_footer.html"/>
<script>
$(function(){
	
	
	$(".appointBtn").click(function(){
		var _opt = $(this);
		
		//设置FORM表单
		$(".appointform").eq(_opt.index()).addClass("active").siblings().removeClass("active");

	});
	
});

   function submit(){
	   alert(11);
	     

		 /* $.ajax({
		        //几个参数需要注意一下
		            type: "POST",//方法类型
		            url: "${request.contextPath}/admin/banner/edit" ,//url
		            data: $('#subform').serialize(),
		            success: function (result) {
		            	
		                if(result == "EDIT_SUCCESS"){
		                	layer.alert('修改轮播成功！',function(index){
		                		window.location.href="${request.contextPath}/admin/banner/toBanners";
		                	});
		                	//跳转到列表
		                }
		                if(result == "EDIT_FAIL"){
		                	layer.alert('修改轮播失败！',function(index){
		                	window.location.href='${request.contextPath}/admin/banner/toEdit?id='+$("#id").val();;
		                	});
		                }
		            },
		            error: function(XMLHttpRequest, textStatus, errorThrown) {
		            	 alert(XMLHttpRequest.status);
		            	 alert(XMLHttpRequest.readyState);
		            	 alert(XMLHttpRequest.responseText);
		            	 alert(textStatus);
		            	   }
		        }); */
	   
   }
   
  function reset(){
	  $(':input','#zxForm')
	  .not(':button, :submit, :reset, :hidden')
	  .val('')
	  .removeAttr('checked')
	  .removeAttr('selected');
	  
	  $(':input','#yyForm')
	  .not(':button, :submit, :reset, :hidden')
	  .val('')
	  .removeAttr('checked')
	  .removeAttr('selected');
	  
	  $(':input','#jyForm')
	  .not(':button, :submit, :reset, :hidden')
	  .val('')
	  .removeAttr('checked')
	  .removeAttr('selected');
  }

layui.use('laydate', function(){
	  var laydate = layui.laydate;
	  
	  //常规用法
	  laydate.render({
	    elem: '#appointdate'
	    ,calendar: true   //日历节日提醒
	    ,theme: '#347f98'  //主题颜色
	  });
});
</script>
</body>
</html>