<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<title>新闻中心</title>
<link type="text/css" href="/css/style.css" rel="stylesheet"/>
<link type="text/css" rel="stylesheet" href="/css/index.css"  />
<link type="text/css" rel="stylesheet" href="/css/news.css"  />
<link type="text/css" rel="stylesheet" href="/layui_v2.3.0/css/layui.css"  />

<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<style type="text/css">

</style>
</head>

<body>
<#include "/common/home_header.html"/>
<!--轮播器 -->
   <#include "/common/home_lunbo.html"/>
<!--轮播器 -->

<!--牙科项目介绍 -->
    <#include "/common/home_oral.html"/>
<!--牙科项目介绍 -->

<div class="newcenter_main">
<div class="new_left">
<div class="new_div">
<div class="new_btns">
<#if (articleType == 'ARTICLE_NEWS') >
<button class="new_btn activeBtn" value="ARTICLE_NEWS" ">新闻动态</button>
<#else>
<button class="new_btn" value="ARTICLE_NEWS" ">新闻动态</button>
</#if>
<#if (articleType == 'ARTICLE_HEALTH') >
<button class="new_btn activeBtn" value="ARTICLE_HEALTH">口腔知识</button>
<#else>
<button class="new_btn" value="ARTICLE_HEALTH">口腔知识</button>
</#if>
<#if (articleType == 'ARTICLE_GY_ACTIVITY') >
<button class="new_btn activeBtn" value="ARTICLE_GY_ACTIVITY">优惠活动</button>
<#else>
<button class="new_btn" value="ARTICLE_GY_ACTIVITY">优惠活动</button>
</#if>
<#if (articleType == 'ARTICLE_YH_ACTIVITY') >
<button class="new_btn activeBtn" value="ARTICLE_YH_ACTIVITY">公益活动</button>
<#else>
<button class="new_btn" value="ARTICLE_YH_ACTIVITY">公益活动</button>
</#if>
<style type="text/css">
			.pagediv{}
			.pagediv ul{}
			.activeBtn{background-color:#f6b93e;}
			.pagediv ul li{float: left;background: #A2C2E1;margin-right: 5px;height: 22px;line-height: 22px;padding: 0px 4px;}
			.pagediv ul li.active{background-color: #5faef2;}
			.pagediv ul li:hover{background-color: #5399d5;}
			.pagediv ul li a{color:#fff;}
			.new_art h3  {font-size: 18px;color: #5c83e0;width: 80%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
			.new_art h3:hover {color: #ff9f00;}
			.article_t_d{float: left;width: 740px;height: 120px;margin-left: 15px;}
			.article_detail { width: 80%;margin-top: 10px;height: 60px;}
			.top{
    background: #5faef2;
    width: 60px;
    height: 30px;
    margin-top: -15px;
    margin-right: 0px;
    position: absolute;
    border-right-width: 0px;
    border-right-style: solid;
    margin-left: -42px;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}
.article_tm{
    color: #897575;
    margin-top: 10px;
}
</style>
</div>
<div class="new_art" id="newsInfo">
                <#list pager.list as article >
                <div class="article_info">
                <#if article.thumbnailurl != ''>
				<img src="${article.thumbnailurl}" class="article_img" />
				<#else>
				<img src="/images/home/article_deful.png" class="article_img" />
				</#if>
				<div class="article_t_d">
				<a href="${request.contextPath}/news/showNewById?articleId=${article.id}" ><h3>${article.title}</h3></a>	
				<p class="article_detail">
				    ${article.introduction}
				</p>
				<p class="article_tm">${article.createtime?string('yyyy-MM-dd HH:mm')}</p>	
				</div>
				<#if article.top == 1>
				<span class= "top">TOP</span>
				</#if>
                </div>
				</#list>
<div class="clear"></div>
<!-- 分页部分 -->
 <div class="pageView">
			<div class="pageTotal">
				当前第${pager.currentPage}/${pager.totalPage}页&nbsp;-&nbsp;共${pager.totalRecord}条记录
			</div>
			
			
			<div class="pagediv">
				<ul>
					<#if pager.currentPage == 1>
						<li class="disabled"><a href="javascript: void(0)">首页</a></li>
						<li class="disabled"><a href="javascript: void(0)">上一页</a></li>
					</#if>
					<#if pager.currentPage gt 1>
						<li><a href="${request.contextPath}/home/newCenter?articleType=${articleType}&page=1">首页</a></li>
						<li><a href="${request.contextPath}/home/newCenter?articleType=${articleType}&page=${pager.previousPage}">上一页</a></li>
					</#if>
					<#if pager.pageBar ??>
					<#list pager.pageBar as num >
							<#if num == pager.currentPage >
								<li class="active"><a href="${request.contextPath}/home/newCenter?articleType=${articleType}&page=${num}">${num }</a></li>
							</#if>
							<#if num != pager.currentPage >
								<li><a href="${request.contextPath}/home/newCenter?articleType=${articleType}&page=${num}">${num }</a></li>
							</#if>
						</#list>
					</#if>
				    <#if pager.currentPage == pager.totalPage>
				    	<li class="disabled"><a href="javascript: void(0)">下一页</a></li>
				    	<li class="disabled"><a href="javascript: void(0)">尾页</a></li>
				    </#if>
				     <#if pager.currentPage lt pager.totalPage >
				    	<li><a href="${request.contextPath}/home/newCenter?articleType=${articleType}&page=${pager.nextPage}">下一页</a></li>
				    	<li><a href="${request.contextPath}/home/newCenter?articleType=${articleType}&page=${pager.totalPage}">尾页</a></li>
				    </#if>
				 </ul>
				 <div class="clear"></div>
			</div>
      </div>
	<!-- 分页部分 -->
</div>
</div>


</div>
<div class="new_right">
<div class="dentalTel">
  <img src="/images/home/tel.png" style="width: 50px;margin-top:25px;margin-left: 10px;float: left;" />
  <div style="float: left;">
  <span class="textSpan">咨询电话</span>
  </div>
</div>
<div class="telAn disabled">
<p>润千秋佳苑店:<span>010-62812799</span></p>
<p>怡美家园店:<span>010-62880056</span></p>
<p>柳浪家园店:<span>010-82396676</span></p>
<p>北辰香麓店:<span>010-62495089</span></p>
</div>
<div class="adress">
 <img src="/images/home/dizhi.png" style="width: 50px;margin-top:25px;margin-left: 10px;float: left;" />
 <div style="float: left;">
  <span class="textSpan">门诊地址</span>
  </div>
</div>
<div class="adressAn disabled">
<h2>润千秋佳苑店:</h2>
<span>北京海淀区永丰路润千秋佳苑乙10号楼一层底商</span><br/>
<h2>怡美家园店:</h2>
<span>北京海淀区安宁庄西路15号5号楼1层3门101</span><br/>
<h2>柳浪家园店:</h2>
<span>北京海淀区厢黄旗东路柳浪家园15号楼底商</span><br/>
<h2>北辰香麓店:</h2>
<span>北京海淀区温泉显龙山路19号北辰香麓1幢1层</span>
</div>
<div class="weChat">
  <img src="/images/home/weChat.png" style="width: 50px;margin-top:25px;margin-left: 10px;float: left;" />
   <div style="float: left;">
  <span class="textSpan">关注公众号</span>
  </div>
</div>
<div class="weChatAn disabled">
<img src="/images/home/ewm.jpg" style="width: 70%;margin: 10px 30px;" />
</div>
</div>
<div class="clear"></div>
</div>
<#include "/common/home_footer.html"/>
<script>
   $(function(){
 
  $(".new_btn").click(function(){
	  var type = $(this).val();
	  window.location.href="${request.contextPath}/home/newCenter?articleType="+type+"&page=1";
  });
  
 
  /* $(".dentalTel").mouseover(function(){
	 $(".telAn").removeClass("disabled");
  });
  $(".dentalTel").mouseout(function(){
		 $(".telAn").addClass("disabled");
	  }); */
	  
   //右侧电话显示
	$(".dentalTel").click(function() {
			if ($('.telAn').is(':hidden')) {
				$('.telAn').slideDown('slow');
			} else {
				$('.telAn').slideUp('slow');
			}
		});
	   //右侧地址显示
	$(".adress").click(function() {
			if ($('.adressAn').is(':hidden')) {
				$('.adressAn').slideDown('slow');
			} else {
				$('.adressAn').slideUp('slow');
			}
		});
	   //右侧微信公众号显示
	$(".weChat").click(function() {
			if ($('.weChatAn').is(':hidden')) {
				$('.weChatAn').slideDown('slow');
			} else {
				$('.weChatAn').slideUp('slow');
			}
		});

	});
</script>

</body>
</html>