
<!-- jQuery -->
    <script src="/sb-admin-2/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/sb-admin-2/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/sb-admin-2/vendor/metisMenu/metisMenu.min.js"></script>
    
     <!-- Morris Charts JavaScript -->
<!--     <script src="/sb-admin-2/vendor/raphael/raphael.min.js"></script> 
    <script src="/sb-admin-2/vendor/morrisjs/morris.min.js"></script>
    <script src="/sb-admin-2/data/morris-data.js"></script> -->

    <!-- DataTables JavaScript -->
    <script src="/sb-admin-2/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/sb-admin-2/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/sb-admin-2/vendor/datatables-responsive/dataTables.responsive.js"></script> 

    <!-- Custom Theme JavaScript -->
    <script src="/sb-admin-2/dist/js/sb-admin-2.js"></script>
  
    <script src="/js/utils.js"></script>
    
    <!-- layuijs -->
   <script src="/layui_v2.3.0/layui.all.js"  charset="utf-8" ></script>
   
   <script src="/js/change-pwd.js"  charset="utf-8" ></script>
     
 

    