<script type="text/javascript" src="/lunbo/koala.min.1.5.js"></script>
<link rel="stylesheet" type="text/css" href="/lunbo/lunbo.css">
<script type="text/javascript">
Qfast.add('widgets', { path: "/lunbo/terminator2.2.min.js", type: "js", requires: ['fx'] });
Qfast(false, 'widgets', function () {
K.tabs({
id: 'decoroll2', //焦点图包裹id
conId: "decoimg_a2", //大图域包裹id
tabId: "deconum2", //小圆点数字提示id
tabTn: "a",
conCn: '.decoimg_b2', //大图域配置class
auto: 1, //自动播放 1或0
effect: 'fade', //效果配置
eType: 'mouseover', // 鼠标事件
pageBt: true, //是否有按钮切换页码
bns: ['.prev', '.next'], //前后按钮配置class
interval: 5000// 停顿时间
})
})
</script>

<div id="decoroll2" class="imgfocus">

<div id="decoimg_a2" class="imgbox">
<#list lunbo_banners as lb>
<div class="decoimg_b2">
<a href="${lb.href}">
<img src="${lb.picurl}">
</a>
</div>
</#list>





</div>
<p style="clear: both;"></p>
<ul id="deconum2" class="num_a2">
<#list lunbo_banners as lb>
<li><a href="javascript:void(0)" hidefocus="true" target="_self"></a></li>
</#list>
</ul>
</div>
