<header>
  <div class="clear"></div>
  <div id="CdHeader">
    <div class="CdHeaderBox">
      <div class="logo"><a href="/"><img src="/images/home/logo.jpg" /></a></div>
      <div class="logoz"><img src="/images/home/logoz.jpg" /></div>
      <div class="logotel"><img src="/images/home/logotel.jpg" /></div>
    </div>
  </div>
  <div class="clear"></div>
  <div id="CdNav">
    <div class="CdNavBox">
      <ul>
        <li class="qaDH"> 口腔问题简介
          <div id="NavSub-1">
            <ul><li>
                <div id="NavCont"><span></span> <a href="/prussian">
                  <h4>牙齿种植</h4>
                  </a> </div>
                </li>
              <li>
                <div id="NavCont"><span class="qaSp2"></span> <a href="/myzjzx">
                  <h4>牙齿矫正</h4>
                  </a> </div></li>
              <li>
                <div id="NavCont"><span class="qaSp3"></span> <a href="/qbmczx">
                  <h4>牙齿修复</h4>
                  </a> </div></li>
              <li>
                <div id="NavCont"><span class="qaSp4"></span> <a href="/qbmczx/gpxcmb">
                  <h4>牙齿美白</h4>
                  </a> </div></li>
              <li>
                <div id="NavCont"><span class="qaSp5"></span> <a href="/jchlzx">
                  <h4>综合治疗</h4>
                  </a> </div></li>
            </ul>
          </div>
        </li>
        <li><a href="/home/index" title="新北首页">新北首页</a></li>
        <li><a href="/home/jianjie/" title="关于新北">关于新北</a></li>
        <li><a href="/news/" title="新闻中心">新闻中心</a></li>
        <li><a href="/zjtd" title="医生团队">医生团队</a></li>
        <li><a href="/about/guahao/" title="预约中心">预约中心</a></li>
        <li><a href="/home/tomap" title="就诊路线">就诊路线</a></li> 
      </ul>
    </div>
  </div>
</header> 