<header>
  <div class="clear"></div>
  <div id="CdHeader">
    <div class="CdHeaderBox">
      <div class="logo"><a href="/home/index"><img src="/images/home/logo.jpg" /></a></div>
      <div class="logoz"><img src="/images/home/logoz.jpg" /></div>
      <div class="logotel"><img src="/images/home/logotel.jpg" /></div>
    </div>
  </div>
  <div class="clear"></div>
  <div id="CdNav">
    <div class="CdNavBox">
      <ul>
        <li class="welcome"> WELCOME </li>
        <li><a href="/home/index" title="新北首页">新北首页</a></li>
        <li><a href="/home/introduction" title="关于新北">关于新北</a></li>
        <li><a href="/news/" title="新闻中心">新闻中心</a></li>
        <li><a href="/zjtd" title="医生团队">医生团队</a></li>
        <li><a href="/about/guahao/" title="预约中心">预约中心</a></li>
        <li><a href="/home/tomap" title="就诊路线">就诊路线</a></li> 
      </ul>
    </div>
  </div>
</header> 