<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<title>美容冠</title>
<link type="text/css" href="/css/style.css" rel="stylesheet"/>
<link type="text/css" rel="stylesheet" href="/css/index.css"  />
<link type="text/css" rel="stylesheet" href="/css/oralTec.css"  />
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<style type="text/css">

</style>
</head>

<body>
<#include "/common/home_header.html"/>
<img style="width: 100%;height: 340px; margin-top: -3px;" src="/images/home/ccks.jpg" />  
<div class="oralTechnologyMain">
  <!-- 什么是美容冠 -->
  <div class="oralTote Title">WHAT IS A COSMETIC DENTAL CROWN?<h2>什么是美容冠？</h2></div>
  <div class="what-Warp">
    <div class="wat_left">
		<img src="/images/home/oralTechnology/xb_mrg.jpg" width="481px" height="344px" />
	</div>
    <div class="wat-Right">
      <p>牙齿美容冠美容技术是流行于欧美、日韩的一种新兴牙齿美容技术，在传统烤瓷牙的基础上强调牙齿的美容效果，对错位牙、畸形牙的临床冠部分施以多重专业技术，用美容冠加以修复。具有<b>美牙不拔牙、无痛苦、时间短、牙齿牢固、多年后牙龈不会出现黑线，并能更好爱护牙齿等优点</b>，从而达到持久保证的美牙效果。</p>
      <p>牙齿美容冠的特色：美容冠牙齿修复出来的假牙的光彩可以与我们的自然牙媲美，美容假牙冠铸瓷全冠牙的每颗牙齿都是经过CAD/CAM量身定做的，这种技术与空气、水以及其它任何的电解质接触的时候都是会迅速产生微氧化膜，这样就有效的幸免我们的牙齿出现腐蚀情况。</p>
      <div class="start cen"><a href="javascript:void(0)" onclick="ib_wopen();">咨询美容冠</a></div>
    </div>
    <div class="clear"></div>
  </div>


 <!-- 美容冠的优点 -->
  <div class="oralTote Title2">THE ADVANTAGES OF COSMETIC CROWNS FOR TEETH<h2>美容冠的优点</h2></div>
  <div class="what-Warp">
    <div class="harmDiv" style="margin-bottom:70px;">
    <div class="harmBox">
      <div class="harmL">01</div>
      <div class="harmR"><h2>自然持久</h2><p>美容冠采用德国VITA比色技术，以26阶牙色层次化类比，为你调配最适合牙色，更采用三维数字成型，使之呈现持久天然光泽。</p></div>
      <div class="clear"></div>
    </div>
    <div class="harmBox">
      <div class="harmL">02</div>
      <div class="harmR"><h2>不伤原牙</h2><p>美容冠在不损伤牙齿、牙龈的前提下根据牙槽骨的形态对牙齿做修整，仅对不整齐的凸出部位进行精细打磨，无需拨牙。</p></div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    </div>
    <div class="harmDiv">
    <div class="harmBox">
      <div class="harmL">03</div>
      <div class="harmR">
        <h2>无不良反应</h2>
        <p>美容冠牙齿美容后无以往存在的牙龈红肿、黑线等现象。如能按医嘱进行保养，牙齿美白可长久相伴。</p>
      </div>
      <div class="clear"></div>    
    </div>
    <div class="harmBox">
      <div class="harmL">04</div>
      <div class="harmR">
        <h2>坚固耐磨</h2>
        <p>美容冠选用国际顶级材料，令修复后牙齿坚固耐磨，美容冠与原牙紧密贴合，有效保护原牙，自然美观。</p>
      </div>
      <div class="clear"></div> 
    </div>
    <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>


 <!-- 牙齿矫正常见问题 -->
  <div class="oralTote Title2">COMMON PROBLEMS IN ORTHODONTIC<h2>牙齿矫正常见问题</h2></div>
  <div class="what-Warp">
    <div class="quesBox">
      <div class="quTit"><div class="quT1">A</div><div class="quT2">牙齿矫正<br />最佳年龄是几岁？</div></div>
      <p>一般孩子在矫正牙齿时，最佳年龄是在12岁左右的，这时一般孩子已经换完牙齿了，这时在矫正就没有问题了。</p>
    </div>
    <div class="quesBox B2">
      <div class="quTit"><div class="quT1 quT3">B</div><div class="quT2">牙齿矫正<br />过程需要多久？</div></div>
      <p>开始矫正前两三天进食软食，就是稀饭、面条之类的。根据自己的适应情况决定什么时候可以恢复吃米饭，避免吃过硬的食物。</p>
    </div>
    <div class="quesBox">
      <div class="quTit"><div class="quT1">C</div><div class="quT2">牙齿矫正<br />期间应注意什么？</div></div>
      <p>注意口腔卫生，一天要刷三次牙，严格意义来说每次吃完东西都要刷牙，因为不刷牙的话，容易导致牙龈炎，不利于牙齿的健康。</p>
    </div>
    <div class="quesBox B2">
      <div class="quTit"><div class="quT1 quT3">D</div><div class="quT2">牙齿矫正选择<br />什么样的医院好？</div></div>
      <p>牙齿矫正一定要选择专业权威的医院，因为领先的设备和经验丰富的专家才能保证矫正效果。</p>
    </div>
    <div class="clear"></div>
  </div>
<div class="Title3"></div>
</div>




</div>
<#include "/common/home_footer.html"/>
</body>
</html>