<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="" />
<title>了解新北</title>
<link type="text/css" href="/css/style.css" rel="stylesheet"/>
<link type="text/css" rel="stylesheet" href="/css/index.css"  />
<link type="text/css" rel="stylesheet" href="/css/oralTechnology.css"  />
<link type="text/css" rel="stylesheet" href="/layui_v2.3.0/css/layui.css"  />
<link type="text/css" rel="stylesheet" href="/layui_v2.3.0/css/layui.css"  />

<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<style type="text/css">
.layui-timeline{
margin-top: 20px;
}

}
</style>
</head>

<body>
<#include "/common/home_header.html"/>
<img style="width: 100%;height: 400px; margin-top: -2px;" src="/images/ycdh/yc_03.jpg">  
<div class="oralmain">
<ul class="layui-timeline">
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h2 class="layui-timeline-title">什么是牙齿矫正?</h2>
      <div class="oral_what">
       <div class="what_image"></div>
       <div class="what_text">
        <div class="what_text_text"></div>
        <div class="what_text_button"></div>
       </div>
      </div>
    </div>
  </li>

  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h2 class="layui-timeline-title">透过牙齿正畸看世界</h2>
      <div class="oral_what">
       <div class="what_image"></div>
       <div class="what_text">
        <div class="what_text_text"></div>
        <div class="what_text_button"></div>
       </div>
      </div>
    </div>
  </li>
  
   <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h2 class="layui-timeline-title">牙齿不齐四大危害</h2>
      <div class="wh">
      <div class="wh_box_1">
      <div class="wh_box_number_1">01</div>
      <div class="wh_box_desc_1">
      <h2>影响口腔的健康</h2>
      </div>
      </div>
      <div class="wh_box_2">
      <div class="wh_box_number_2">02</div>
      <div class="wh_box_desc_2"></div>
      </div>
      <div class="wh_box_3">
      <div class="wh_box_number_3">03</div>
      <div class="wh_box_desc_3"></div>
      </div>
      <div class="wh_box_4">
      <div class="wh_box_number_4">04</div>
      <div class="wh_box_desc_4">
      </div>
      </div>
      </div>
    </div>
  </li>
  
   <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h2 class="layui-timeline-title">如何选择牙齿矫正的方法？</h2>
      <div class="oral_what">
       <div class="what_image"></div>
       <div class="what_text">
        <div class="what_text_text"></div>
        <div class="what_text_button"></div>
       </div>
      </div>
    </div>
  </li>
  
    <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <h2 class="layui-timeline-title">牙齿矫正常见问题</h2>
      <div class="oral_what">
       <div class="what_image"></div>
       <div class="what_text">
        <div class="what_text_text"></div>
        <div class="what_text_button"></div>
       </div>
      </div>
    </div>
  </li>
  
  <li class="layui-timeline-item">
    <i class="layui-icon layui-timeline-axis"></i>
    <div class="layui-timeline-content layui-text">
      <div class="layui-timeline-title">END</div>
    </div>
  </li>
</ul>  
</div>
<#include "/common/home_footer.html"/>
</body>
</html>